<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme" content="Bui Bich Ngoc CV">
    <meta name="author" content="Bui Bich Ngoc">
    <meta name="description" content="About Bui Bich Ngoc CV coder">


    <title>{{ page.title }}</title>

    <link rel="stylesheet" type="text/css" href='https://fonts.googleapis.com/css?family=Arvo:400,700,400italic'>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Lato:400,700%7CMerriweather%7CRoboto+Mono">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha512-6MXa8B6uaO18Hid6blRMetEIoPqHf7Ux1tnyIQdpt9qI5OACx7C+O3IVTr98vwGnlcg0LOLa02i9Y1HpVhlfiw=="
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.1/css/academicons.min.css"
          integrity="sha512-NThgw3XKQ1absAahW6to7Ey42uycrVvfNfyjqcFNgCmOCQ5AR4AO0SiXrN+8ZtYeappp56lk1WtvjVmEa+VR6A=="
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/css/bio.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <link rel="stylesheet" type="text/css" href="/css/pygment_trac.css">
    <link rel="stylesheet" type="text/css" href="/css/highlight.min.css">

    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="apple-touch-icon" type="image/png" href="/images/apple-touch-icon.png">

    <link rel="canonical" href="https://buibichngoc.github.io">

    <script src="/js/scale.fix.js"></script>

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-30955754-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>

</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top" id="navbar-main">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="https://buibichngoc.github.io/">BuiBichNgoc</a>
        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav navbar-right">

                <li class="nav-item"><a href="/"><span>Home</span></a></li>

                <li class="nav-item"><a href="/about"><span>About</span></a></li>

                <li class="nav-item"><a href="/cv"><span>CV</span></a></li>

                <li class="nav-item"><a href="/blog"><span>Blog</span></a></li>

            </ul>

        </div>
    </div>
</nav>
<div class="wrapper">
    <header>
        <h1 class="header">Bui Bich Ngoc</h1>
        <p class="header">Working on...</p>
        <ul>
            <li class="download"><a class="buttons" href="https://www.facebook.com/buibichngocit">Facebook</a></li>
            <li class="download"><a class="buttons" href="https://plus.google.com/u/1/106055423552676105332">Google+</a>
            </li>
            <li><a class="buttons github" href="https://buibichngoc.github.io/cv/">View My CV</a></li>
        </ul>
        <p class="header">This project is by <a class="header name" href="https://www.facebook.com/buibichngocit">Bui
            Bich Ngoc</a></p>
    </header>
    <section>
        {{ content }}
    </section>
    <footer>
        <p>
            <small>GitHub Page<a href="https://buibichngoc.github.io/"> Bui Bich Ngoc</a> using the <a
                    href="https://github.com/buibichngoc/buibichngoc.github.io/"> theme Bui Bich Ngoc</a></small>
        </p>
    </footer>
</div>
<!--[if !IE]>
<script>fixScale(document);</script><!--<![endif]-->
</body>
</html>
