<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>BuiBichNgoc</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/pygment_trac.css">
    <script src="js/scale.fix.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', 'UA-30955754-1']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1 class="header">{{ site.title | default: site.github.repository_name }}</h1>
        <p class="header">{{ site.description | default: site.github.project_tagline }}</p>

        <ul>
          {% if site.show_downloads %}
            <li class="download"><a class="buttons" href="https://www.facebook.com/buibichngocit">Facebook</a></li>
            <li class="download"><a class="buttons" href="https://plus.google.com/u/1/106055423552676105332">Google Plus</a>
          {% endif %}
          <li><a class="buttons github" href="https://buibichngoc.github.io/cv/">View My CV</a></li>
        </ul>

        {% if site.github.is_project_page %}
          <p class="header">This project is maintained by <a class="header name" href="https://buibichngoc.github.io/">BuiBichNgoc</a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <ul>
            <li><a class="buttons github" href="https://buibichngoc.github.io/cv/">View My CV</a></li>
          </ul>
        {% endif %}
      </header>

      <section>
		<ul style=" font-family: Arvo, sans-serif; padding: 20px; list-style: none; font-weight: bold; font-size: 50px; ">
	        <li style=" display: inline; margin-right: 20px;"><a href="/">Home</a></li>
		    <li style=" display: inline; margin-right: 20px;"><a href="/about">About</a></li>
	        <li style=" display: inline; margin-right: 20px;"><a href="/cv">CV</a></li>
	        <li style=" display: inline; margin-right: 20px;"><a href="/blog">Blog</a></li>
		</ul>
        {{ content }}
      </section>

      <footer>
        <p><small>BuiBichNgoc's Page <a href="https://buibichngoc.github.io/">GitHub Pages</a> code by Bui Bich Ngoc</small></p>
      </footer>
    </div>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>
